body
{
    background-color: #ddd;
    font-family: "Book Antiqua", "Georgia", Helvetica, sans-serif;
}

h1
{
    text-shadow: 0 0 3px #444;
}

h2
{
    color: #444;
    margin-top: 0;
}

.wrapper
{
    height: 400px;
    left: 50%;
    margin-left: -250px;
    position: absolute;
    top: 50px;
    width: 500px;
}

form
{
    background-color: #fff;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border: 2px solid #aaa;
    padding: 1.4em;
}

input[type=text]
{
    font-size: 1.2em;
    width: 100%;
}

input[type=submit]
{
    border: 1px solid #777;
    display: block;
    float: right;
    font-weight: bold;
    margin: 0.5em;
    margin-right: 0;
    padding: 3px 6px;
}


.clearfix:after
{
     content: "."; 
     display: block; 
     height: 0; 
     clear: both; 
     visibility: hidden;
}

.clearfix
{
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */